@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 16px;   
    background-color: #f8f8f8;
    background-color: rgb(245, 245, 255);
}

header {
    position: relative;
    color: #272727;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.header-container {
    position: relative;
    display: grid;
    /* grid-template-rows: 80px calc(100vh - 80px); */
    grid-template-rows: minmax(70px, 1fr);
    background-image: url('../assets/colorbg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f8f8;
}
.nav-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .85);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    padding: 1rem 2rem;
    transform: scale(1);
}
.logos {
    margin-right: 2rem;
}
.nav-container img {
    height: 5vw;
}
.nav-container nav {
    display: flex;
}
.nav-container nav div:first-child {
    margin-left: 1rem;
}
.nav-container nav div {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #272727;
    border-bottom: 3px solid transparent;
    transition: all .2s;
}
.nav-container nav div:hover {
   border-bottom: 3px solid #272727;
}
.nav-container nav div a {
    text-decoration: none;
    color: #272727;
}
.social-medias {
    font-size: 2rem;
    margin-left: auto;
}
.social-medias a{
    color: #272727;
    margin: 0 1rem;
    transition: all .1s;
}
.social-medias a i {
    transition: all .2s;
}
.social-medias a:first-child:hover {
    color: #55acee;
    text-shadow: 0 0 40px #55acee;
}
.social-medias a:nth-child(2):hover {
    color: #3b5999;
    text-shadow: 0 0 40px #3b5999;
}
.social-medias a:nth-child(3):hover {
    color: #e4405f;
    text-shadow: 0 0 40px #e4405f;
}
.social-medias a i:active{
    transform: scale(.7);
}

#heading {
    background-image: url('../assets/Karnival\ Sukan\ Staf\ 2021\ banner\ 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 322px;
}
#read-more {
    padding: 2rem;
    height: calc(100vh - 322px - 100px);
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}
#read-more button {
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    border: 1px solid #3b5999;
    border: 1px solid #272727;
    border-radius: 10px;
    background-color: transparent;
    color: #3b5999;
    color: #272727;
    padding: .7rem 2rem;
    cursor: pointer;
    transition: all .3s;
}
#read-more button:hover {
    background-color: #3b5999;
    background-color: #272727;
    color: #fff;
}
#about {
    font-weight: 300;
    color: #272727;
    top: 290px;
    right: 30px;
}
.about-content {
    min-width: 375px;
    background-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 2.5rem;
}
#about p:first-child {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}
#about p:nth-child(2) {
    line-height: 1.8em;
}
#about a {
    text-decoration: none;
    color: #9015c0;
    font-weight: 500;
}
#about a:hover {
    text-decoration: underline;
}

#poster {
    display: flex;
    justify-content: center;
    background-color: #413ed5;
    padding: 4rem 2rem;
}
#poster img {
    height: 560px;
}

#objective {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    min-height: 400px;
    padding: 2rem;
    background-color: #fff;
    color: #272727;
}
.objective-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 1rem;
}
.objective-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.objective-item li{
    list-style: none;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 400;
    border-left: 4px solid #C19CD0;
    padding: 0 1rem;
}

#sport-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    background-image: url('../assets/fifa-darklayer.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f8f8f8;
}
#sport-events .list-of-sports {
    display: flex;
}
#sport-events .list-of-sports p{
    margin: 1rem 2.5rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
}